.iframe-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden; /* Desabilita a rolagem */
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
}